.default.movie-item {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  width: 151px;
  height: 280px;
  background-color: transparent;

  .spinner {
    top: -50%;
    left: 50%;
  }

  .title {
    strong {
      font-weight: 600;
      margin-right: 0.3em;
    }

    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: center;
    margin: 0 0 0 0;
  }

  .poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 150px;
    height: 225px;

    img {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      cursor: pointer;
      transition: width 2s, height 2s;
    }
  }

  .plot {
    height: 50px;
    overflow-y: scroll;
    font-size: 1em;
    padding: 5px 10px;
    border-bottom: 1px solid black;
  }

  .rating-toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0 1em 0;
    padding: 0 0 0 0;

    .star-toolbar-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button {
        margin: 0.5em 0.5em 0.5em 0.5em;
      }
    }
  }
}
