.recommender {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%;
  min-height: 100vh;
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  header {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1rem;
    }
  }
}
